

.carousel-container{
  
  max-width: 50%; 
  
  margin: 50px auto; 
  padding: 50px;  
  background-color:greenyellow; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px gray; 
}

.heading {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
  color:black; 
}

.image {
  width: 100%;
  max-height: 500px;
  border-radius: 10px; 
  object-fit:cover;
 
}

.slick-prev,
.slick-next {
  background-color:blueviolet; 
  color:blue;
  border-radius: 50%; 
  width: 60px ;
  height: 60px auto;
  z-index: 1; 
}

.slick-prev:hover,
.slick-next:hover {
  background-color:red;
}

.slick-dots li button:before {
  color: #333; 
}

.slick-dots li.slick-active button:before {
  color: #555; 
}

